@{
    ViewData["Title"] = "Home Page";
}

<div class="img-div">
    <img class="mySlides" src="~/uploads/homepage_images/adam-winger-VjRpkGtS55w-unsplash.jpg" />
    <img class="mySlides" src="~/uploads/homepage_images/greg-trowman-jsuWg7IXx1k-unsplash.jpg" />
    <img class="mySlides" src="~/uploads/homepage_images/raphael-lovaski-Pe9IXUuC6QU-unsplash.jpg" />
    <img class="mySlides" src="~/uploads/homepage_images/shari-sirotnak-oM5YoMhTf8E-unsplash.jpg" />
    
   
</div>
